/*
Author: Gary Hoerr Jr.
CSS for the Four Horsemen of Wholesomeness
*/

* {
    margin: 0;
    padding: 0;
    font: 1em/1.5em Baskerville, serif;
}


/* Myriad Pro Font */
@font-face{
    font-family: "myriadpro";
    src: url("/fonts/MyriadPro-Light.ttf") format("truetype");
    font-weight: 300;
}

@font-face{
    font-family: "myriadpro";
    src: url("/fonts/MyriadPro-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face{
    font-family: "myriadpro";
    src: url("/fonts/MyriadPro-Semibold.ttf") format("truetype");
    font-weight: 600;
}

@font-face{
    font-family: "myriadpro";
    src: url("/fonts/MyriadPro-Bold.ttf") format("truetype");
    font-weight: 700;
}
/* Myriad Pro Font */


header {
    background-color: white;
}

header h2{
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 300%;
    margin-bottom: .5em;
    border-bottom: 3px solid black;
    font-family: myriadpro;
    font-weight: bold;
}

nav {
    margin-top:-.4em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
}

#tier1 {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.324);
}

ul {
    display: table;
    margin: 0 auto;
    text-align: center;
    background-color: gray;
    border-radius: 0.3em;
    list-style: none;
    min-width: 300px;
}

nav ul li {
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    border-left: 2px solid rgb(185, 185, 185);
    border-top: 2px solid rgb(185, 185, 185);
    background-color: darkgrey;
    border-radius: 0.2em;
    padding: 0 .5em;
    line-height: 2em;
}

nav ul li ul li img {
    margin: auto;
    padding: 0;
    float: left;
    margin-left: 1em;
    width: 15%;
}

nav ul li ul li {
    
    clear: left;
    padding: 0.75em 0;
}



nav > ul > li {
    float: left;
    position: relative;
}

nav ul ul {
    display: none;
    position: absolute;
    margin-top: 0.1em;
    top: 100%;
    left: 0;
    min-width: 100%;
}

nav ul ul a {
    font-size: 175%;
}

nav > ul::after {
    content:"";
    display:block;
    clear: both;
}

nav ul li:hover > ul, nav ul li:focus > ul {
    display: block;
}

nav ul ul ul {
    top: 8.5em;
    left: 100%;
    width: 21em;
}

nav ul ul li {
    display: block;
}


li a {
    font-size: 2em;
    color: black;
    text-decoration: none;
    font-family: myriadpro;
    font-weight: 600;
}

li a sup {
    font-family: myriadpro;
    font-weight: 400;
    font-size: 75%;
}

li a:visited {
    color: lightgray;
}

li a:hover, li a:focus {
    color: purple;
    /*font-weight: bold;*/
}



body {
    background-color: rgb(255, 255, 255);
}

main {
    background-color: rgb(255, 255, 255);
}

section {
    background-color: whitesmoke;
    width: 80%;
    margin: auto;
    clear: both;
    padding: 1em;
    margin-bottom: 3em;
    border-radius: 0.2em;
    /*border-bottom: 1px solid black;*/
}

section::after {
    content: '';
    display: block;
    clear:both;
}

section h1 {
    font-family: myriadpro;
    font-weight: 600;
    font-size: 250%;
    /*
    border-bottom: 2px solid black;
    margin-bottom: 0.2em;*/
}
section h3 {
    font-family: myriadpro;
    font-weight: 600;
    font-size: 200%;
}

section p {
    margin-bottom: .5em;
    font-family: myriadpro;
    font-weight: 400;
}

section iframe {
    margin: 1em 0;
    clear: both;
}

section img {
    float: right;
    width: 35%;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 0.15em;
}

section#levarSec img {
    width: 15em;
}
/*
section#levarSec img,
section#bobSec img {

}*/

footer p {
    margin: 0 2em;
}

#mobile_menu {
    display: none;
}

@media only screen and (max-width: 1187px) {
    #mobile_menu {
        display: block;
    }

    /* Tier 1 Menu */
    .slicknav_nav ul li {
        text-align: center;
        float: none !important;
    }

    .slicknav_nav .slicknav_item a {
        font-size: 1em;
    }

    .slicknav_nav ul {
        list-style: none;
        /* overflow: hidden; */
        overflow: visible !important;
        padding: 0;
        margin: 0 0 0 20px;
        /*z-index: 10;*/
        
    }

        
    .slicknav_menu a {
        background-color: cadetblue !important;
    }

    .slicknav_menu {
        background-color: cadetblue !important;
    }

    .slicknav_menu ul {
        display: grid !important;
        width: 35%;
        position: absolute;
        right: 0;
    }

    .slicknav_menu ul li ul {
        margin: 0;
        width: 100% ;
        position: absolute;
        top: auto;
        left: 0;
    }


    .slicknav_collapsed ul {
        display: none !important;
    }


    iframe {
        width: 280px;
        height: 157.5px;
    }

    #nav_menu {
        display: none;
    }

    nav ul ul {
        width: 18em;
        /*top: 75%;*/
        right: 0;
        z-index: 5;
    } 

    #bobSec {
        display: flex;
        flex-direction: column;
    }

    #bobSec img {
        margin: auto;
        max-width: 500px;
        width: 100%;
    }
}